body{
    margin: 0;
    padding: 0;
    font-family: "Microsoft YaHei";
    background-size: cover;
    background-position:center;
    position: relative;

}
.form-box{
      top:50px;
      width :300px;
      height :400px;
      position: relative;
      margin :6px auto;
      background: rgb(247, 248, 248);
      padding: 5px;
}
.button-box{
      margin: 0px;
      width: 300px;
      position: relative;
      border-radius: 60px;
      text-align: center;
      transition: .5s;
}
.button-box button {
        font-size: 12px;
}
.toggle-btn:hover,.toggle-btn:active{
        background-color: cyan;
        border:none;
}
.toggle-btn{
        padding: 20px 60px;
        border:1;
        cursor:pointer;
        background-color:grey;
        position: relative;
        margin-bottom: 30px;
}
#btn{
        top:0;
        left:0;
        position: absolute;
        width: 100%;
        height:100%;
        border:1;
        background-color: indigo;
}
.inputbox{
        position: relative;
        font-size: 18px;
}
.inputbox input{
        width:70%;
        padding:10px 0px;
        font-size: 11px;
        outline: none;
        margin:5px 0px;
}
.toggle-btn1{
        margin-top: 30px;
        padding: 10px 32px;
        border:1;
        cursor:pointer;
        background-color: cornflowerblue;
        position: relative;
}
